* {
    margin: 0;
    padding: 0;
}

:root {
    --fruit-primary:#7ac313;
    --fruit-secondary:#EAC738;
    --fruit-tertiary:#FB3636;
}

h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2em;
}
.intro  {
    display: flex;
    flex-direction: column;
}

.mainimg {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
}

.login h2 {
    text-align: center;
    margin: 1rem 0;
}

.login input {
    width: 12rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    height: 1.2rem;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--fruit-primary);
    
}

.login button {
    width: 10rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-radius: 20px;
    height: 2rem;
    background-color: var(--fruit-primary);
    border: none;
    color: var(--fruit-tertiary);
    font-weight: 800;
}

.login a {
    margin: 0 auto;
    font-weight: bold;
    
}