* {
    margin: 0;
    padding: 0;
}

:root {
    --fruit-primary: #58e658;
    --fruit-secondary: #EAC738;
    --fruit-tertiary: #FB3636;
}

h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 3.2em;
}

.intro {
    display: flex;
    flex-direction: column;
}

.mainimg {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 850px;
}

.login {
    display: flex;
    flex-direction: column;
}

.login h2 {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.8em;
}

.login input {
    width: 16rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--fruit-primary);
}

.login button {
    width: 12rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-radius: 20px;
    height: 2.4rem;
    background-color: var(--fruit-primary);
    border: none;
    color: var(--fruit-tertiary);
    font-weight: 800;
}

.login a {
    margin: 0 auto;
    font-weight: bold;
    margin-top: 1rem;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery .linespacing {
    margin-top: 2rem;
}

.gallery h2 {
    text-align: center;
    font-size: 2.4em;
}

.grid-gallery {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-gallery img {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 1.5rem;
}